body {
    font-family: 'Alatsi', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.icon {
    width: 40px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 3;
    padding-left: 40px;
    padding-top: 10px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    margin: 50px 0;
}

.about-content h3 {
    font-weight: bold;
}

.home-jumbotron {
    color: whitesmoke;
    background-image: url(../images/home.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-jumbotron {
    color: whitesmoke;
    background-image: url(../images/about.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-content {
    width: 100%;
    height: 1000px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    background-image: url(../images/description.jfif);
    background-position: center;
    background-size: cover;
    color: white;
}

.cars-jumbotron {
    color: whitesmoke;
    background-image: url(../images/cars.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.car1-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-image: url(../images/Ferrari.jfif);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.car2-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-image: url(../images/Tesla.jfif);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.car3-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-image: url(../images/rollsRoyce.jfif);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.car4-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-image: url(../images/merc.jfif);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.car5-content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-image: url(../images/BMW.jfif);
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

.car-content-container {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}


.contact-jumbotron {
    color: whitesmoke;
    background-image: url(../images/contact.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.return-jumbotron {
    color: whitesmoke;
    background-image: url(../images/return.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.confirm-jumbotron {
    color: whitesmoke;
    background-image: url(../images/confirm.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
nav {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.button {
    font-weight: bold;
    border-radius: 10%;
    background-color: whitesmoke;
}

.nav-left-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-right-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-left-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-right-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 800;
    padding: 22px 50px;
    display: block;
}

.hover {
    position: relative;
    top: -5px;
    opacity: 0.7;
}

.hidden {
    display: none;
}